### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/
#

*~$*.xlsx
*~$*.xlsm
*~$*.pptx
*~$*.docx
*checkpoint.ipynb
*.DS_Store
.DS_Store
*.pyc
